{% extends "layouts.html" %}

{% block content %}

{% include 'navbar.html' %}

{% include '_messages.html' %}

<div class="container w-25 d-flex justify-content-center mt-5">
    {% from "_formhelpers.html" import render_field %}
    <form method="post" enctype="multipart/form-data" class="w-100">
        {{ form.csrf_token }}
        <div>
            {{ render_field(form.email, class="form-control") }}
            {{ render_field(form.password, class="form-control") }}
            <p><input type="submit" value="Entrar" class="btn btn-success mt-4 w-100">
            </p>
            <p class="d-flex justify-content-center"><a href="{{url_for('registerClient')}}">Não possui uma conta?
                    Cadastre-se!</a></p>
        </div>
    </form>
</div>

{% endblock content %}