{% extends "layouts.html" %}

{% block content %}

{% include 'navbar_admin.html' %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            {% include "_messages.html" %}
            {% if brands %}
            <form action="" method="POST">
                <div class="row w-100 d-flex justify-content-center">
                    <input type="text" name="brand" placeholder="Digite o nome da marca" class="form-control">
                    <input type="submit" value="registrar" class="btn btn-success mt-2">
                </div>
            </form>
            {% else %}
            <form action="" method="POST">
                <div class="row w-100 d-flex justify-content-center">
                    <input type="text" name="category" placeholder="Digite o nome da categoria" class="form-control">
                    <input type="submit" value="registrar" class="btn btn-success mt-2">
                </div>
            </form>
            {% endif %}
        </div>
        <div class="col-md-6"></div>
    </div>
</div>

{% endblock content %}