{% extends 'layouts.html' %}

{% block content %}

{% include 'navbar.html' %}

{% include "_messages.html" %}

<div class="container my-3">
    <div class="row">
        {% if brand %}

        {% for b in brand.items %}
        <div class="col-md-3">
            <div class="card" style="height: 500px;">
                <img src="{{url_for('static', filename='images/' + b.image_1)}}" alt="{{b.name}}"
                    class="card-img-top p-3">
                <div class="card-body">
                    <h4 class="text-center">{{b.name}}</h4>
                    <p class="text-center">Preço R${{b.price}}</p>
                    {% if b.discount > 0 %}
                    <h5 class="text-center" style="text-shadow: 1px 2px 2px #000; color: #f00; font-weight: 600;">
                        Desconto {{b.discount}}%</h5>
                    {% endif %}
                </div>
                <div class="card-footer">
                    <a href="{{url_for('single_page', id=b.id)}}" class="float-left btn btn-sm btn-success">Detalhes</a>
                    <form action="{{url_for('addCart')}}" method="POST">
                        <input type="hidden" name="product_id" value="{{b.id}}">
                        <button type="submit" class="btn btn-sm btn-warning float-right">Adicionar Carrinho</button>

                        <input type="hidden" name="quantity" id="" value="1">
                        {% set colors = b.colors.split(',') %}

                        <select name="colors" id="colors" style="visibility: hidden;">
                            {% for color in colors %}
                            {% set col = color.split(':') %}
                            <option value="{{col[0]}}">{{col[0]|capitalize}}</option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col text-center">

            {% if brand.total > 4 %}
            {% for page_num in brand.iter_pages(left_edge=1, right_edge=2, left_current=1, right_current=2) %}
            {% if page_num %}

            {% if brand.page == page_num %}
            <a href="{{url_for('get_brand', id=brand_id.id, page=page_num)}}"
                class="btn btn-success btn-sm mt-3">{{page_num}}</a>
            {% else %}
            <a href="{{url_for('get_brand', id=brand_id.id, page=page_num)}}"
                class="btn btn-outline-success btn-sm mt-3">{{page_num}}</a>
            {% endif %}

            {% else %}
            ...
            {% endif %}

            {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="row">
        {% elif category %}

        {% for c in category.items %}

        <div class="col-md-3">
            <div class="card" style="height: 500px;">
                <img src="{{url_for('static', filename='images/' + c.image_1)}}" alt="{{c.name}}"
                    class="card-img-top p-3">
                <div class="card-body">
                    <h4 class="text-center">{{c.name}}</h4>
                    <p class="text-center">Preço R${{c.price}}</p>
                    {% if c.discount > 0 %}
                    <h5 class="text-center" style="text-shadow: 1px 2px 2px #000; color: #f00; font-weight: 600;">
                        Desconto {{c.discount}}%</h5>
                    {% endif %}
                </div>
                <div class="card-footer">
                    <a href="{{url_for('single_page', id=c.id)}}" class="float-left btn btn-sm btn-success">Detalhes</a>
                    <form action="{{url_for('addCart')}}" method="POST">
                        <input type="hidden" name="product_id" value="{{c.id}}">
                        <button type="submit" class="btn btn-sm btn-warning float-right">Adicionar Carrinho</button>

                        <input type="hidden" name="quantity" id="" value="1">
                        {% set colors = c.colors.split(',') %}

                        <select name="colors" id="colors" style="visibility: hidden;">
                            {% for color in colors %}
                            {% set col = color.split(':') %}
                            <option value="{{col[0]}}">{{col[0]|capitalize}}</option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>

    <div class="row">
        <div class="col text-center">

            {% if category.total > 4 %}
            {% for page_num in category.iter_pages(left_edge=1, right_edge=2, left_current=1, right_current=2) %}
            {% if page_num %}

            {% if category.page == page_num %}
            <a href="{{url_for('get_category', id=category_id.id, page=page_num)}}"
                class="btn btn-success btn-sm mt-3">{{page_num}}</a>
            {% else %}
            <a href="{{url_for('get_category', id=category_id.id, page=page_num)}}"
                class="btn btn-outline-success btn-sm mt-3">{{page_num}}</a>
            {% endif %}

            {% else %}
            ...
            {% endif %}

            {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="row">
        {% else %}
        {% for product in products.items %}
        <div class="col-md-3">
            <div class="card" style="height: 500px;">
                <img src="{{url_for('static', filename='images/' + product.image_1)}}" alt="{{product.name}}"
                    class="card-img-top p-3">
                <div class="card-body">
                    <h4 class="text-center">{{product.name}}</h4>
                    <p class="text-center">Preço R${{product.price}}</p>
                    {% if product.discount > 0 %}
                    <h5 class="text-center" style="text-shadow: 1px 2px 2px #000; color: #f00; font-weight: 600;">
                        Desconto {{product.discount}}%</h5>
                    {% endif %}
                </div>
                <div class="card-footer">
                    <a href="{{url_for('single_page', id=product.id)}}"
                        class="float-left btn btn-sm btn-success">Detalhes</a>
                    <form action="{{url_for('addCart')}}" method="POST">
                        <input type="hidden" name="product_id" value="{{product.id}}">
                        <button type="submit" class="btn btn-sm btn-warning float-right">Adicionar Carrinho</button>

                        <input type="number" style="visibility: hidden;" name="quantity" id="" value="1" min="1"
                            max="{{product.stock}}">
                        {% set colors = product.colors.split(',') %}

                        <select name="colors" id="colors" style="visibility: hidden;">
                            {% for color in colors %}
                            {% set col = color.split(':') %}
                            <option value="{{col[0]}}">{{col[0]|capitalize}}</option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col text-center">

            {% if products.total > 4 %}
            {% for page_num in products.iter_pages(left_edge=1, right_edge=2, left_current=1, right_current=2) %}
            {% if page_num %}

            {% if products.page == page_num %}
            <a href="{{url_for('home', page=page_num)}}" class="btn btn-success btn-sm mt-3">{{page_num}}</a>
            {% else %}
            <a href="{{url_for('home', page=page_num)}}" class="btn btn-outline-success btn-sm mt-3">{{page_num}}</a>
            {% endif %}

            {% else %}
            ...
            {% endif %}

            {% endfor %}
            {% endif %}
        </div>
    </div>

    {% endif %}
</div>
</div>

{% endblock content %}