{% extends 'layouts.html' %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand text-danger font-weight-bold" href="/">InfoStore</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if brand %}
            <li class="nav-item">
                <a class="nav-link text-white" href="/">Produtos</a>
            </li>
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-danger" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Marcas
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for brand in brands %}
                    <a class="dropdown-item" href="{{url_for('get_brand', id=brand.id)}}">{{brand.name}}</a>
                    {% endfor %}
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Categorias
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for category in categories %}
                    <a class="dropdown-item" href="{{url_for('get_category', id=category.id)}}">{{category.name}}</a>
                    {% endfor %}
                </div>
            </li>
            {% elif category %}
            <li class="nav-item">
                <a class="nav-link text-white" href="/">Produtos</a>
            </li>
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Marcas
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for brand in brands %}
                    <a class="dropdown-item" href="{{url_for('get_brand', id=brand.id)}}">{{brand.name}}</a>
                    {% endfor %}
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-danger" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Categorias
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for category in categories %}
                    <a class="dropdown-item" href="{{url_for('get_category', id=category.id)}}">{{category.name}}</a>
                    {% endfor %}
                </div>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link text-danger" href="/">Produtos</a>
            </li>
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Marcas
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for brand in brands %}
                    <a class="dropdown-item" href="{{url_for('get_brand', id=brand.id)}}">{{brand.name}}</a>
                    {% endfor %}
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Categorias
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for category in categories %}
                    <a class="dropdown-item" href="{{url_for('get_category', id=category.id)}}">{{category.name}}</a>
                    {% endfor %}
                </div>
            </li>
            {% endif%}
        </ul>
    </div>
</nav>



<div class="container mt-5">
    <div class="row">
        <div class="col-md-6" id="m_image">
            <img src="{{url_for('static', filename='images/' + product.image_1)}}" alt="{{product.name}}" height="300">
        </div>

        <div class="col-md-6">
            <h4>{{product.name}}</h4>
            <p>Preço: R${{product.price}}</p>

            {% if product.discount > 0 %}
            <b>Desconto: {{product.discount}}%</b>
            {% endif %}

            <br>
            <br>
            <b>Descrição:</b>
            <p> {{product.description }}</p>

            <form action="">
                <input type="hidden" name="product_id" value="{{product.id}}">
                <button type="submit" class="btn btn-warning">Adicionar ao Carrinho</button>
                <label for="">Quantidade: </label>
                <input type="number" name="quantity" id="" value="1" min="1" max="{{product.stock}}">
                {% set colors = product.colors.split(',') %}
                <label for="colors">Cor: </label>
                <select name="colors" id="">
                    {% for color in colors %}
                    {% set col = color.split(':') %}
                    <option value="{{col[0]}}">{{col[0]|capitalize}}</option>
                    {% endfor %}
                </select>
            </form>
            <a href="" class="btn btn-success">Comprar</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mt-3" id="s_image">
            <img src="{{url_for('static', filename='images/' + product.image_1)}}" alt="{{product.name}}" height="150" class="p-3">
            <img src="{{url_for('static', filename='images/' + product.image_2)}}" alt="{{product.name}}" height="150" class="p-3">
            <img src="{{url_for('static', filename='images/' + product.image_3)}}" alt="{{product.name}}" height="150" class="p-3">
        </div>
    </div>
</div>

<script>
    var m_image = document.getElementById('m_image');
    var s_image = document.getElementById('s_image').getElementsByTagName('img');

    for(var i = 0; i < s_image.length; i++) {
        s_image[i].addEventListener('click', full_image);
    }

    function full_image() {
        var ImageSRC = this.getAttribute('src');
        m_image.innerHTML = "<img src=" + ImageSRC + " height='300'>";
    }
</script>

{% endblock content %}