{% extends "layouts.html" %}

{% block content %}

{% include 'navbar_admin.html' %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            {% include "_messages.html" %}
            {% if updatebrand %}
            <form action="" method="POST">
                <input type="text" name="brand" class="form-control" value="{{updatebrand.name}}">
                <div class="row w-100 d-flex justify-content-center">
                    <input type="submit" value="Atualizar" class="btn btn-success mt-2 mr-2">
                    <a href="{{url_for('brands')}}" class="btn btn-danger mt-2 ml-2">Cancelar</a>
                </div>
            </form>
            {% else %}
            <form action="" method="POST">
                <input type="text" name="category" class="form-control" value="{{updatecategory.name}}">
                <div class="row w-100 d-flex justify-content-center">
                    <input type="submit" value="Atualizar" class="btn btn-success mt-2 mr-2">
                    <a href="{{url_for('categories')}}" class="btn btn-danger mt-2 ml-2">Cancelar</a>
                </div>
            </form>
            {% endif %}
        </div>
        <div class="col-md-6"></div>
    </div>
</div>

{% endblock content %}