{% extends 'layouts.html' %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand text-danger font-weight-bold" href="/">InfoStore</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link text-danger" href="/admin">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/categories">Categorias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/brands">Marcas</a>
            </li>
        </ul>
    </div>
</nav>

{% include '_messages.html' %}

<div class="container mt-3">
    <table class="table table-sm">
        <thead>
            <th>Serial</th>
            <th>Produto</th>
            <th>Preço</th>
            <th>Desconto</th>
            <th>Categoria</th>
            <th>Marca</th>
            <th>Foto</th>
            <th>Editar</th>
            <th>Deletar</th>
        </thead>

        <tbody>
            {% for product in products %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.discount}}%</td>
                <td>{{product.category.name}}</td>
                <td>{{product.brand.name}}</td>
                <td><img src="{{url_for('static', filename='images/' + product.image_1)}}" width="155" height="120">
                </td>
                <td><a href="{{url_for('updateproduct', id=product.id)}}" class="btn btn-sm btn-outline-success">Editar</a></td>
                <td>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal-{{product.id}}">
                        Deletar
                    </button>
                </td>
            </tr>

  <div class="modal fade" id="exampleModal-{{product.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{product.name}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="text-danger">Deseja realmente deletar o produto {{product.name}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal">Cancelar</button>
          <form action="{{url_for('deleteproduct', id=product.id)}}" method="POST">
            <button type="submit" class="btn btn-danger btn-sm">Deletar</button>
        </form> 
        </div>
      </div>
    </div>
</div>
        {% endfor %}
        </tbody>
    </table>
</div>


{% endblock content %}