<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand text-danger font-weight-bold" href="/">InfoStore</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-3 my-lg-0 mr-3" method="POST">
            <input class="form-control mr-sm-2 input-group" style="height: 33px;" type="text"
                placeholder="Pesquisar Produtos" name="search_string">
            <input class="btn btn-sm btn-outline-danger my-2 my-sm-0" type="submit" formaction="/search"
                value="Pesquisar">
        </form>

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" style="font-weight: 600;" href="/">Produtos</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" style="font-weight: 600;" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Marcas
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for brand in brands %}
                    <a class="dropdown-item" href="{{url_for('get_brand', id=brand.id)}}">{{brand.name}}</a>
                    {% endfor %}
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" style="font-weight: 600;" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categorias
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for category in categories %}
                    <a class="dropdown-item" href="{{url_for('get_category', id=category.id)}}">{{category.name}}</a>
                    {% endfor %}
                </div>
            </li>

            <li class="nav-item">
                <a href="{{url_for('getCart')}}" class="nav-link" style="font-weight: 600;"
                    tabindex="-1">Carrinho({{session['StoreinCart']|length}})</a>
            </li>

        </ul>

        <ul class="navbar-nav ml-auto">
            {% if current_user.is_authenticated %}

            <li class="nav-item">
                <a class="nav-link text-danger" style="font-weight: 600;" href="#">{{current_user.name}}</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" style="font-weight: 600;" href="{{url_for('logoutClient')}}">Sair</a>
            </li>

            {% else %}

            <li class="nav-item">
                <a class="nav-link text-danger" style="font-weight: 600;"
                    href="{{url_for('registerClient')}}">Cadastrar-se</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" style="font-weight: 600;" href="{{url_for('loginClient')}}">Entrar</a>
            </li>

            {% endif %}
        </ul>

    </div>
</nav>