<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand text-danger font-weight-bold" href="{{url_for('admin')}}">InfoStore</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" style="font-weight: 600;" href="{{url_for('admin')}}">Produtos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="font-weight: 600;" href="{{url_for('categories')}}">Categorias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="font-weight: 600;" href="{{url_for('brands')}}">Marcas</a>
            </li>
        </ul>

    </div>
</nav>